img[alt="User"] {
    border-radius: 100%;
}

.relative.p-1.rounded-sm {
    border-radius: 100%;
}

.bg-gray-800 {
    background-color: #cccccc !important;
}

.dark .dark\:bg-gray-800 {
    background-color: #202123;
}

.group {
    background-color: #202123 !important;
}

.dark .dark\:md\:bg-vert-dark-gradient {
    background: #1c1d1f !important;
    padding-top: 15px;
}

.text-token-text-primary:nth-child(even) {
    opacity: 0.8;
}

pre .bg-gray-800 {
    background-color: #393b3d !important;
    color: #999;
}

/* pre {
    margin: 20px 0 !important;
} */